{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Product List{% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <h1>Danh sách sản phẩm</h1>
    <ul>
      {% for product in products %}
      <li>
        <a href="{% url 'products:product_detail' product.pk %}"
          >{{ product.name }}</a
        >
        - {{ product.price }}$
      </li>
      {% endfor %} {% endblock %}
    </ul>
  </body>
</html>
